[submodule "img"]
	path = img
	url = ssh://git@git.develop.5etools.com:2222/5etools/5etools_img.git
	branch = master
[submodule "obr-fogofwar"]
	path = obr-fogofwar
	url = https://github.com/ulmeck/obr-fogofwar
